/**
 * Created by xiaogang on 2018/8/17.
 *
 */
.up-transition.max-height {
  -webkit-transition: max-height 1s cubic-bezier(0.42, 0, 0.58, 1);
  transition: max-height 1s cubic-bezier(0.42, 0, 0.58, 1);
  overflow: hidden;
}
.up-transition.max-height.open {
  max-height: 1104px !important;
}
