/**
 * Created by xiaogang on 2018/5/29.
 * 对外只 导出一个文件
 */
@import "iconfont/iconfont.css";
/*
* base.less
* 功能：通用样式，各项目间的一些基类、常用类等：
* 要求：
* 1、媒体查询或者基本dom的样式
* 2、基础常用类的定义：right\left\hide等
* 3、项目业务相关的基础类或者通用类：请放到自有项目的common.less中去，通过@import base\common 导入共用的样式
*/
/**
* default-
* 页面的变量 page- 前缀
*/
/*mutiline line-height=1.5*font-size
* 多行文本 常用的 14 是否考虑直接 写到common.less 中
*/
/*
* dom.less
* 功能：基本样式，浏览器兼容或者统一浏览器基本样式
* 基本要求：
* - 不含任何类名（只存在dom标签）
* - 只做浏览器间 各dom 标签渲染 的统一性问题
* - 对于新发现的 样式 统一性问题 最好备注一下手机型号、系统、具体样式等信息
*/
html,
body,
p,
input,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
textarea {
  padding: 0;
  margin: 0;
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  width: 100%;
}
a,
ul,
li {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
a:-webkit-any-link {
  color: inherit;
}
input {
  -webkit-tap-highlight-color: #fff;
  outline: none;
  border: none;
  line-height: 100%;
  font: inherit;
  background-color: inherit;
}
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
/**
*  和项目相关的 标签类设置、
*/
body,
html {
  height: 100%;
  width: 100%;
}
.iconfont {
  font-size: inherit;
  display: inline-block;
}
/**
* 基本常用类
*/
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.f-bold {
  font-weight: bold;
}
.hide {
  display: none !important;
}
.overflow {
  overflow: hidden;
}
.transform180 {
  transform: rotate(180deg);
}
.center {
  text-align: center;
}
/***
    尺寸参数
***/
/** 通用尺寸参数 **/
/** 01 常规输入框 **/
/** 02 图片验证码输入框 **/
/** 03 搜索输入框 **/
/** 04 常规卡片输入框**/
/** 卡片金融数字输入框**/
/** 05 卡片组合输入框 **/
/** 06 短信验证码输入框 **/
/** 07 常规选择输入框 **/
/*** 拷贝过来的样式  ***/
/** 08 密码输入框 **/
/** 卡片选择输入框 **/
/***
    样式参数
***/
/** 通用样式参数  **/
/* 激活(active)状态下样式 */
/* 灰色背景样式 */
/* 禁用(disabled)状态下的文字颜色 */
/* 灰色背景的input样式 */
/* 图片验证码输入框样式 */
/** 03 搜索输入框 **/
/** 06 短信验证码输入框 **/
/** 07 密码输入框 **/
/** 卡片输入框 **/
/** 金融数字输入框 **/
/** 带图标的卡片输入框**/
/***
    通用函数
***/
/***
   公共尺寸 : size (width,height,line-height,font-size,radius)
***/
/**
* 解决垂直方向的一些问题
**/
/**
 * Created by xiaogang on 2016/9/28.
 copy from weiXin
 */
/**
    border created by xiaogang on 2017/11/29
    功能描述：
*/
/* 1px hack */
html,
body,
p,
input,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
textarea {
  padding: 0;
  margin: 0;
}
.tabs-content {
  width: 3.75rem;
  height: 0.57rem;
  background: #F5F5F5;
  font-size: 0.15rem;
  color: #999999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.tab-item {
  flex-grow: 1;
  flex-basis: 0%;
  max-width: 1rem;
  height: 0.57rem;
  line-height: 0.57rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tab-item.active {
  color: #333333;
}
.tips-content {
  position: relative;
}
.tips {
  right: 0;
  top: 0;
  position: absolute;
}
.tips.tips-new {
  width: 0.09rem;
  height: 0.09rem;
  background: #ED171E;
  border-radius: 50%;
}
.tips.tips-del,
.tips.tips-add {
  font-size: 0.18rem !important;
  right: -0.05rem;
  width: 0.18rem;
  height: 0.18rem;
  border-radius: 50%;
}
.tips.tips-del {
  color: #ED171E;
}
.tips.tips-add {
  color: #5A98D2;
}
.up-input {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  font-size: 0;
  /** 常规输入框 **/
  /** 图片验证码输入框 **/
  /** 搜索输入框 **/
  /** 常规卡片输入框 **/
  /** 卡片组合输入框 **/
  /** 短信验证码输入框 **/
  /** 常规选择输入框**/
  /** 密码输入框 **/
}
.up-input .clear,
.up-input .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0.48rem;
  height: 0.48rem;
  line-height: 0.48rem;
}
.up-input .clear .iconfont,
.up-input .arrow .iconfont {
  display: none;
  vertical-align: middle;
  width: 0.48rem;
  height: 0.48rem;
  font-size: 0.48rem;
  color: #c5c5c5;
}
.up-input .clear .iconfont.active,
.up-input .arrow .iconfont.active {
  display: inline-block;
}
.up-input .inputWrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  height: 0.68rem;
}
.up-input .inputWrapper .fakePlaceholder {
  display: none;
  position: absolute;
  left: 1px;
  background-color: transparent;
  line-height: 1.2em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ccc;
  width: 4rem;
  height: 0.32rem;
  top: 0.18rem;
  font-size: 0.28rem;
}
.up-input .inputWrapper .fakePlaceholder.active {
  display: inline-block;
}
.up-input .inputWrapper input {
  padding: 0.2rem 0;
  height: 0.28rem;
}
.up-input input {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  line-height: normal;
}
.up-input input::placeholder {
  font-size: 0.26rem;
}
.up-input.input-grayBg {
  background-color: #f5f5f5 !important;
}
.up-input.input-grayBg.disabled {
  background-color: rgba(245, 245, 245, 0.6) !important;
}
.up-input input::placeholder {
  color: #ccc;
}
.up-input .mask {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 100;
}
.up-input .mask .options {
  padding: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: #fff;
}
.up-input .mask .options .tool {
  text-align: center;
  font-size: 0.36rem;
  height: 0.8rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.up-input .mask .options span {
  display: inline-block;
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
}
.up-input .mask .options .cancel,
.up-input .mask .options .confirm {
  width: 15%;
  color: #108ee9;
  font-weight: 600;
}
.up-input .mask .options .title {
  width: 65%;
  color: #a0a0a0;
  font-weight: 600;
}
.up-input .mask.active {
  display: block;
}
.up-input.input-default,
.up-input.input-finance,
.up-input.input-finance-large {
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
  padding: 0 0.26rem 0 0.36rem;
  background-color: #fff;
}
.up-input.input-default input,
.up-input.input-finance input,
.up-input.input-finance-large input {
  vertical-align: middle;
  margin-right: 0.14rem;
  width: 5.52rem;
  height: 0.28rem;
  font-size: 0.28rem;
  color: #333;
}
.up-input.input-default.disabled,
.up-input.input-finance.disabled,
.up-input.input-finance-large.disabled {
  background-color: rgba(255, 255, 255, 0.6);
}
.up-input.input-default.disabled input,
.up-input.input-finance.disabled input,
.up-input.input-finance-large.disabled input {
  color: #ccc;
}
.up-input.input-default.disabled .iconfont,
.up-input.input-finance.disabled .iconfont,
.up-input.input-finance-large.disabled .iconfont {
  display: none;
}
.up-input.input-finance input {
  font-family: 'SFMono-Regular';
  color: #666;
}
.up-input.input-finance-large input {
  padding: 0.13rem 0;
  height: 0.42rem;
  font-family: 'SFMono-Regular';
  color: #666;
  font-size: 0.42rem;
}
.up-input.input-finance-large .fakePlaceholder {
  display: none;
  position: absolute;
  left: 1px;
  background-color: transparent;
  line-height: 1.2em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ccc;
  top: 0.14rem;
  width: 4rem;
  height: 0.4rem;
  font-size: 0.36rem;
}
.up-input.input-finance-large .fakePlaceholder.active {
  display: inline-block;
}
.up-input.input-imgCode {
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.up-input.input-imgCode .wrapper {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.12rem 0 0.36rem;
  margin-right: 0.24rem;
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
  background-color: #f5f5f5;
}
.up-input.input-imgCode .wrapper input {
  vertical-align: middle;
  width: 3.8rem;
  height: 0.28rem;
  font-size: 0.28rem;
}
.up-input.input-imgCode .code {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  overflow: hidden;
  width: 1.76rem;
  height: 0.68rem;
  background-color: #f5f5f5;
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
}
.up-input.input-imgCode .code img {
  width: 1.76rem;
  height: 0.68rem;
}
.up-input.input-imgCode.disabled .wrapper {
  background-color: rgba(245, 245, 245, 0.6);
}
.up-input.input-imgCode.disabled .wrapper input {
  color: #ccc;
}
.up-input.input-imgCode.disabled .code img {
  opacity: 0.4;
}
.up-input.input-search {
  padding: 0 0.24rem;
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
}
.up-input.input-search .mirror {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.16rem;
  width: 0.48rem;
  height: 0.48rem;
  font-size: 0.48rem;
  color: #b9b9b9;
}
.up-input.input-search input {
  vertical-align: middle;
  margin-right: 0.68rem;
  color: #333;
  width: 4.48rem;
  height: 0.28rem;
  font-size: 0.28rem;
}
.up-input.input-search .scan span {
  color: #b9b9b9;
}
.up-input.input-search.disabled {
  background-color: rgba(255, 255, 255, 0.6);
}
.up-input.input-search.disabled .mirror {
  color: #ddd;
}
.up-input.input-search.disabled input {
  color: #ccc;
}
.up-input.input-search.disabled .scan span {
  color: #ddd;
}
.up-input.input-card,
.up-input.input-card-sms {
  padding: 0.18rem 0.34rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
}
.up-input.input-card .title,
.up-input.input-card-sms .title {
  padding: 0.18rem 0;
  display: inline-block;
  vertical-align: middle;
  font-weight: bolder;
  margin-right: 0.36rem;
  width: 1.2rem;
  height: auto;
  line-height: 0.32rem;
  font-size: 0.28rem;
  color: #333333;
}
.up-input.input-card input,
.up-input.input-card-sms input {
  vertical-align: middle;
  margin-right: 0.18rem;
  width: 3.86rem;
  height: 0.28rem;
  color: #666;
  font-size: 0.28rem;
}
.up-input.input-card.card-finance .rmb,
.up-input.input-card.card-icon .rmb {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 0.4rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 0.28rem;
}
.up-input.input-card.card-finance input,
.up-input.input-card.card-icon input {
  font-family: 'SFMono-Regular';
  color: #666;
}
.up-input.input-card.card-finance .clear .icon-photograph,
.up-input.input-card.card-icon .clear .icon-photograph,
.up-input.input-card.card-finance .scan .icon-photograph,
.up-input.input-card.card-icon .scan .icon-photograph {
  color: #5A98D2;
}
.up-input.input-card.card-finance.disabled .clear span,
.up-input.input-card.card-icon.disabled .clear span,
.up-input.input-card.card-finance.disabled .scan span,
.up-input.input-card.card-icon.disabled .scan span {
  display: none;
}
.up-input.input-card.card-finance-large .rmb {
  display: inline-block;
  vertical-align: middle;
  font-weight: bolder;
  text-align: right;
  width: 0.4rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 0.42rem;
  color: #666;
}
.up-input.input-card.card-finance-large .inputWrapper {
  position: relative;
  display: inline-block;
}
.up-input.input-card.card-finance-large .inputWrapper .fakePlaceholder {
  display: none;
  position: absolute;
  left: 1px;
  background-color: transparent;
  line-height: 1.2em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ccc;
  top: 0.14rem;
  width: 4rem;
  height: 0.4rem;
  font-size: 0.36rem;
}
.up-input.input-card.card-finance-large .inputWrapper .fakePlaceholder.active {
  display: inline-block;
}
.up-input.input-card.card-finance-large input {
  padding: 0.13rem 0;
  height: 0.42rem;
  font-family: 'SFMono-Regular';
  font-size: 0.42rem;
  color: #666;
}
.up-input.input-card.card-finance-large input::placeholder {
  font-size: 0.36rem;
}
.up-input.input-card.card-select .selection {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.24rem;
  text-align: left;
  color: #666;
  width: 3.8rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 0.28rem;
}
.up-input.input-card.card-select.disabled .arrow span {
  display: none;
}
.up-input.input-card-group {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06);
  width: 6.8rem;
  height: auto;
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
}
.up-input.input-card-group .input-card {
  position: relative;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
.up-input.input-card-group .input-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 2px;
  background-color: #f5f5f5;
  transform: scaleY(0.5);
}
.up-input.input-card-group .input-card:last-child {
  border: none;
}
.up-input.input-card-group .input-card:last-child::after {
  display: none;
}
.up-input.input-card-sms {
  padding-right: 0;
}
.up-input.input-card-sms input {
  margin-right: 0.18rem;
  width: 1.92rem;
  height: 0.28rem;
}
.up-input.input-card-sms .sms {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #e6e6e6;
  font-weight: 800;
  width: 2.08rem;
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.28rem;
  color: #5A98D3;
}
.up-input.input-card-sms .clear {
  margin-right: 0.18rem;
}
.up-input.input-card-sms.disabled .sms,
.up-input.input-card-sms.sent .sms {
  color: #ccc;
}
.up-input.input-card-sms.disabled input,
.up-input.input-card-sms.sent input {
  color: #ccc;
}
.up-input.input-card-sms.disabled input {
  color: #ccc;
}
.up-input.input-card-sms.resend .sms {
  color: #5A98D3;
}
.up-input.input-select {
  padding: 0 0.16rem 0 0.36rem;
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
}
.up-input.input-select .selection {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.24rem;
  text-align: left;
  width: 5.52rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 0.28rem;
}
.up-input.input-select.disabled {
  background-color: rgba(255, 255, 255, 0.6);
}
.up-input.input-select.disabled .selection {
  color: #ccc;
}
.up-input.input-select.disabled .arrow span {
  display: none;
}
.up-input.input-password {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  width: 6.8rem;
  height: 1.08rem;
  border: 1px solid #E6E6E6;
  border-radius: 0.12rem;
}
.up-input.input-password input {
  position: absolute;
  z-index: 100;
  top: 0;
  left: -4rem;
  opacity: 0;
  width: 10.8rem;
  height: 1.08rem;
  font-size: 0.28rem;
}
.up-input.input-password input:focus {
  left: -1000px;
}
.up-input.input-password .pwd-item {
  position: relative;
  display: inline-block;
  border-right: 1px solid #f5f5f5;
  font-weight: bolder;
  width: 1.1rem;
  height: 1.08rem;
}
.up-input.input-password .pwd-item:last-child {
  border: none;
}
.up-input.input-password .pwd-item.active:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}
.up-input.input-password.disabled {
  background-color: rgba(255, 255, 255, 0.6);
}
.up-input.input-password.disabled .pwd-item {
  border-color: #e9e9e9;
}
